{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
   <h1>{{ character.name }}</h1>

   {% for attacks in baseAttack %}
      <p>{{ attacks.direction }} {{ attacks.type }} =
      {% for info in characterInfos %}
         {% if info.id == attacks.id %}
            {{ info.damage }}</p>
         {% endif %}
      {% endfor %}
   {% endfor %}
{% endblock %}
